{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Current Challenge</h1>
            <h3><a href="{{ url_for('main.challenge_detailed', challenge_id=current_challenge.id) }}">{{ current_challenge.name }}</a></h3>
            <p>{{ current_challenge.body }}</p>
            {% if current_user.is_authenticated %}
                <a class="btn btn-default" role="button" href="{{ url_for('main.submit_challenge', challenge_id=current_challenge.id, hashid=create_hashid(current_user.id)) }}">Submit Your Code</a>
            {% else %}
                <a class="btn btn-default" role="button" href="{{ url_for('security.login') }}">Log In to Submit</a>
            {% endif %}
        </div>

        {% for challenge in past_challenges %}
            <ul class="challenges">
                <li class="challenge">
                    <div class="challenge-date">{{ moment(challenge.timestamp).fromNow() }}</div>
{#                    <div class="challenge-date">{{ challenge.timestamp }}</div>#}
                    <div class="challenge-name">
                        <a href="{{ url_for('main.challenge_detailed', challenge_id=challenge.id) }}">{{ challenge.name }}</a>
                    </div>
                    <div class="challenge-body">{{ challenge.body }}</div>
                </li>
            </ul>
        {% endfor %}
        {{ macros.pagination_widget(pagination, '.index') }}


    </div>

{% endblock %}

